body {
  background-color: white;
  /* color: #ffffff; */
}

.container {
  margin: 5px;
}

/* .upper {
  display: flex;
  justify-content: center;
} */

.capture {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  /*
  justify-content: center;
  */
  background-color: white;
  padding: 20px;
}

.capture video {
  margin-bottom: 10px;
}

.capture button {
  width: 150px;
  height: 41px;
  background-color: navy;
  border: 1px solid white;
  border-radius: 4px;
  color: #fff;
  font-weight: 900;
  cursor: pointer;
  outline: none;
}

.capture button:hover {
  background-color: blue;
}

.results {
  margin-top: 40px;
}
.results .selected {
  border: 25px solid rgba(255, 0, 0, 0.952);
  animation: moveIt 3s infinite;
}

@keyframes moveIt {
  25% {
    border: 4px solid rgb(172, 3, 3);
  }
  50% {
    border: 4px solid rgb(117, 1, 1);
  }
  100% {
    border: 4px solid rgb(38, 0, 0);
  }
}

.results .plastic {
  list-style-type: none;
  display: flex;
  justify-content: center;
  position: relative;
}

.results .plastic li {
  padding: 15px 0px 0px 15px;
}

.results .plastic .img {
  border-radius: 50%;
  width: 100px;
  height: 90px;
  /* padding: 5px; */
}

.results .plastic .name {
  margin: 0;
  padding: 0;
  text-align: center;
}

.justify-content-md-center {
  font-family: Monaco;
  background-color: rgb(80, 158, 7);
  /* padding: 10px; */
}

.bgCol {
  background-color: rgb(80, 158, 7);
}

h1 {
  color: #fff;
}

/* h3 {
  color: #fff;
  font-family: Monaco;
} */

p {
  color: white;
}

.center1 {
  justify-content: center;
  text-align: center;
}

.message {
  color: black;
}